@keyframes goDown{
    0%{
        margin-top: 0vh;
        filter: brightness(1000%);
    }
    100%{
        margin-top: 20vh;
        filter: brightness(100%);
    }
}
@keyframes pet{
    0%{
        transform: scaleX(1) scaleY(1);
    }25%{
        transform: scaleX(1.35) scaleY(0.85);
    }75%{
        transform: scaleX(0.85) scaleY(1.10);
    }100%{
        transform: scaleX(1) scaleY(1);
    }
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(0, 0, 17);
    color: whitesmoke;
}
html{
    cursor: url("../img/hand_cursor.png"), pointer;
    image-rendering: pixelated;
}
#petDisplay{
    width: 300px;
    height: 300px;
    image-rendering: pixelated;
    user-select: none;
    -webkit-user-drag: none;
}
#petDisplay:hover{
    animation: pet .5s ease-in-out infinite forwards;
    transition: transform .2s ease-in-out;
}
#mainThings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin-top: 10vh;
}
#buttons{
    margin-bottom: 5vh;
}
#introThings{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-top: 3vh;
}
#introThings *{
    margin-bottom: 1vh;
}
.downAnimation{
    animation: goDown 2s ease-in-out forwards;
}
.afterDownAnimation{
    margin-top: 20vh;
}
#petContainer p{
    align-self: center;
    text-align: center;
    margin-bottom: 0.3vh;
    color: red;
}
#settings{
    position: absolute;
}